################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/output
/.vs
/dependencies
/input
/__pycache__
